.carte {
  color: $color-yellow;
  background: url("../images/fone.jpg") 50%;
  background-repeat: repeat;
  &__title {
    font-family: 'YesevaOne';
    font-size: 36px;
    font-weight: 400;
    line-height: 24px;
  }
  &__pattern {
    width: 247px;
    height: 24px;
    margin-left: auto;
    margin-right: auto;
    background: url("../images/pattern.png");
    background-position: -252px 0;
    background-repeat: no-repeat;
  }
  &__overlay{
    display: flex;
    flex-direction: column;
  }
  &__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 50px;
  }
  &__item {
    width: 300px;
    text-align: center;
  }
  &__table {
    color: #c89f2d;;
    font-family: 'Yeseva One';
    font-size: 21px;
    text-align: left;
    tr:nth-child(2n) {
      position: relative;
      font-family: "Lato";
      color: #4c4c4c;
      font-size: 16px;
      display: block;
      margin-bottom: 30px;
      margin-top: 20px;
      &:before {
        content: "";
        display: block;
        position: absolute;
        top: -10px;
        width: 310px;
        height: 1px;
        background: $color-yellow;
      }
    }
  }
  @media($tablet-widths) {
&__item{
  width: 430px;
}
    &__table{
      tr:nth-child(2n) {

        &:before{
          width: 430px;
        }
      }
    }
   }
}