.footer {
  background-color: #191919;
  color: #fff;
  padding-top: 30px;
  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__item {
    text-align: center;
    width: 230px;
    &:first-child {
      width: 300px;
    }
  }
  &__title {
    color: #fefefe;
    font-family: 'Yeseva One';
    font-size: 21px;
    font-weight: 400;
    line-height: 24px;
  }
  &__pattern {
    height: 24px;
    width: 199px;
    margin-right: auto;
    margin-left: auto;
    background: url("../images/pattern.png");
    margin-bottom: 20px;
    background-position: -24px -63px;
    background-repeat: repeat;
  }
  &__text {
    font-family: "Open Sans";
  }
  &__cards {
    &--social {
      margin-top: 15px;
    }
    svg {
      @include inlineBlock();
      width: 20px;
      height: 15px;
      @include marginRight(15px);
      fill: #fff;
    }
  }
}

@media($tablet-widths) {
  .footer {
    &__item {
      &:first-child {
        width: 370px;
      }
    }
  }
}
@media($desktop-widths) {
  .footer {
    &__items {
      justify-content: space-between;
    }
  }
 }