.header {
  min-height: 100vh;
  background: url("../images/header-bg.jpg");
  background-position: center;
  //background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  color: #fff;
  &__title {
    position: relative;
    margin-top: 100px;
    margin-bottom: 20px;
    opacity: 0.92;
    text-shadow: 0.5px 0.9px 2px rgba(1, 1, 1, 0.64);
    color: #fff;
    font-family: 'Yeseva One';
    font-size: 90px;
    font-weight: 400;
    line-height: normal;
    &::after{
      display: block;
      content: "";
      width: 232px;
      height: 43px;
      margin: auto;
      background: url("../images/pattern/title.png#pattern");
      background-repeat: no-repeat;
    }
  }
  &__links{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    a{
      width: 228px;
      height: 57px;
      margin-bottom: 30px;
      opacity: 0.8;
      background-color: rgba(0, 0, 0, 0.7);
      border: 1px solid black;
      color: inherit;
      text-transform: uppercase;
      font-family: Lato;
      font-size: 18px;
      font-weight: 400;
      text-decoration: none;
      line-height: 57px;
      &:first-child{
        margin-right: 20px;
      }
      &:hover {
        opacity: 0.7;
        background-color: rgba(255, 255, 255, 0.28);
        border: 1px solid white;
      }
    }

  }
}

.logo {
  a{
    display: block;
    position: relative;
    width: 156px;
    height: 92px;
    line-height: 105px;
    text-align: center;
    margin-top: 20px;
    color: inherit;
    text-decoration: none;
    font-family: 'Yeseva One';
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    background: url("../images/logo.png") 50%;
    background-repeat: no-repeat;
  }

}

.menu {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 100%;
  &__list {
    @include noList;
    text-align: center;
    margin-top: 40px;
    &--hide {
      display: none;
    }
  }
  &__item {
    display: block;
    padding: 15px;
  }
  &__link {
    font-size: 12px;
    font-weight: 700;
    color: inherit;
    text-transform: uppercase;
    text-decoration: none;
  }
  &__toggle {
    position: absolute;
    display: block;
    top: 110px;
    height: 20px;
    width: 34px;
    right: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent;
    span{
      position: absolute;
      display: block;
      color: #fff;
      top: 0;
      left: 0;
        margin-left: 2px;
        margin-top: 10px;
        width: 34px;
        height: 2px;
        background-color: currentColor;
      &::before {
        content: '';
        position: absolute;
        top: -10px;
        left: 0;
        width: 34px;
        height: 2px;
        background-color: currentColor;
      }
      &::after {
        content: '';
        position: absolute;
        top: 10px;
        left: 0;
        width: 34px;
        height: 2px;
        background-color: currentColor;
      }
    }
    &--close {
      span{
        margin-top: 0;
        margin-left: 0;
        width: 42px;
        height: 42px;
        background: transparent;
        &::before {
          top: 10px;

          width: 42px;
          height: 2px;
          transform: rotate(-45deg);
        }
        &::after {

          top: 10px;
          width: 42px;
          height: 2px;
          transform: rotate(45deg);
        }
      }

    }
  }

  @media ($tablet-widths) {
    float: none;
    position: static;
    &__list {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    &__toggle {
      display: none;
    }
    &__item {
      background: transparent;
      box-shadow: none;
      margin-right: 20px;
      border-top: 2px solid transparent;
      &:hover {
        border-top: 2px solid #fff;
      }
    }
    &__link {
      font-size: 18px;
      text-transform: none;
      font-weight: 400;
      &:active {
        box-shadow: none;
      }
    }
    &--hide-block {
      display: block;
    }
  }
}

@media($mobile-widths-only) {
  .menu {
    flex-direction: column;
    align-items: center;
  }

}
@media(max-width:512px) {
  .header{
    &__links{
      width: 228px;
      margin-left: auto;
      margin-right: auto;
      justify-content: space-between;
      a:first-child{
        margin-right: 0;
      }
    }
  }
 }